body {
  background-color: green;
}

.cardImg {
  width: 150px;
  height: auto;
  display: inline;
  animation-timing-function:cubic-bezier(1,.01,.98,.47);
  transition-delay: 100000ms;
}

#playButtons {
  display:none;
}

#output {
  font-size: larger;
  font-weight: bold;
}

#playerStats {
  font-size: larger;
}

#pHand {
  display: none;
}

#dHand {
  display: none;
}