body {
  background-color: green;
}

.cardImg {
  width: 150px;
  height: auto;
  display: inline;
}

#playButtons {
  display:none;
}

#output {
  font-size: larger;
  font-weight: bold;
}

#playerStats {
  font-size: larger;
}

#header {

}